:root{
    --primary-color: rgb(130,82,255);
    --primary-color-hover: rgba(184, 158, 248, 0.493);
    --secondary-color: rgb(0,128,128);
    --secondary-color-hover: rgb(54, 173, 173);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

table{
    font-size: 14px;
}

table tr td{
    vertical-align: middle;
}